h1 {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#health {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

canvas {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  background: turquoise;
  justify-content: center;
}

#gameover {
  display: none;
}

button {
  margin: 10px;
}
