body {
  background-color: rgb(245, 221, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 50px);
}
@media screen and (min-width: 768px) {
  body {
    height: calc(100vh - 63px);
  }
}

h1 {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 42px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 52px;
  }
}

#healthSection {
  position: relative;
  top: 60px;
  left: 130px;
  display: flex;
  color: white;
  font-family: "Bungee", sans-serif;
  align-items: flex-end;
  justify-content: flex-end;
}

#time {
  position: relative;
  top: -10px;
  left: 360px;
  font-size: 25px;
}

h4 {
  position: relative;
  top: 60px;
  left: 250px;
}

progress {
  position: relative;
  top: 10px;
  left: 100px;
  width: 150px;
  height: 20px;
  border: 2px solid yellow;
}

progress::-webkit-progress-bar {
  background-color: red;
}

progress::-webkit-progress-value {
  background-color: rgb(123, 255, 123);
}

canvas {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  background: repeating-linear-gradient(
    -45deg,
    #6351dc 0px,
    #6656cf 5px,
    #6c5bdf 6px,
    #7c69f7 11px,
    #9086d4 12px
  );
  justify-content: center;
}

#gameover {
  font-family: "Bungee", sans-serif;
  display: none;
}

button {
  font-family: "Bungee", sans-serif;
  margin: 10px;
  color: white;
  background-color: #1f01d6;
  border-radius: 20%;
}

/* #countDown {
  font: "Bungee", sans-serif;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 999;
  font-size: 100px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #countDown {
    font-size: 200px;
  }
} */
