body {
  background-color: rgb(245, 221, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 30px);
}

h1 {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 42px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 52px;
  }
}

#healthSection {
  position: relative;
  top: 60px;
  left: 130px;
  display: flex;
  color: white;
  font-family: "Bungee", sans-serif;
  align-items: flex-end;
  justify-content: flex-end;
}

#time {
  position: relative;
  top: -10px;
  left: 360px;
  font-size: 25px;
}

h4 {
  position: relative;
  top: 60px;
  left: 250px;
}

progress {
  position: relative;
  top: 10px;
  left: 100px;
  width: 150px;
  height: 20px;
  border: 2px solid yellow;
  display: none;
}

progress::-webkit-progress-bar {
  background-color: red;
}

progress::-webkit-progress-value {
  background-color: rgb(123, 255, 123);
}

canvas {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  background: repeating-linear-gradient(
    -45deg,
    #6351dc 0px,
    #6656cf 5px,
    #6c5bdf 6px,
    #7c69f7 11px,
    #9086d4 12px
  );
  justify-content: center;
}

#gameover {
  font-family: "Bungee", sans-serif;
  display: none;
}

button {
  font-family: "Bungee", sans-serif;
  margin: 10px;
  color: white;
  background-color: #1f01d6;
  border-radius: 20%;
}

#level {
  font-family: "Bungee", sans-serif;
  filter: none;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  background: #fdf8e6;
  padding: 20px;
  font-size: 1.5rem;
}

#level select {
  width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#level select:focus {
  outline-color: #f2b705;
}

#start {
  font-family: "Bungee", sans-serif;
  text-transform: uppercase;
  border: none;
  background: #f2b705;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: 80%;
  margin-top: 20px;
}
